@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary: #020948;
  --secondary: #75e6ff;
  --tertiary: #e8e9ff;
  --accent: #fb6b1a;
  --dark: #333;
  --light: #fff;
  --foreground: #f6f6f6;
}

.page-center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* utility class */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.alitm-center {
  align-items: center;
}

.d-grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.text-white {
  color: var(--light);
}

.text-ink {
  color: var(--dark);
}

.btn {
  padding: 16px 32px;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: fit-content;
}

button.primary {
  background-color: var(--accent);
  color: var(--light);
}

button.secondary {
  background-color: var(--light);
  color: var(--primary);
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

.justify-spacebetween {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-60 {
  gap: 60px;
}

.gap-64 {
  gap: 64px;
}

.card {
  padding: 32px;
  border-radius: 10px;
  background-color: var(--foreground);
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.2);
  color: var(--dark);
  max-width: 400px;
}

.card:hover {
  background-color: var(--primary);
  color: var(--light);
  cursor: pointer;
}

.card img {
  width: 64px;
  height: 64px;
}

.horizontal-card {
  background-color: var(--light);
  padding: 32px;
  color: var(--dark);
  gap: 24px;
  border-radius: 10px;
  display: flex;
}

.horizontal-card img {
  width: 32px;
  height: 32px;
}

.glass-card {
  padding: 16px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  display: grid;
  gap: 20px;
}

.glass-card img {
  width: 100%;
  height: 237px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* end utility class */

.hero {
  background-color: var(--primary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.expertise {
  padding: 80px 0;
}

.expertise-description {
  width: 60%;
  margin: auto;
}

.about-me {
  background-color: var(--foreground);
  padding: 80px 0;
}

.portfolio {
  background-image: url(assets/BackgroundPortfolio.png);
  padding: 80px 0;
}

.portfolio-description {
  width: 60%;
  margin: auto;
}

/* responsive rules */
/* media query mobile devies */
@media (max-width: 768px) {
  .hero-content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .btn {
    width: 100%;
  }

  /* .card {
    width: 100%;
  } */

  .expertise,
  .about-me,
  .portfolio {
    padding: 60px 0;
  }

  .expertise-description,
  .portfolio-description {
    width: 100%;
    text-align: center;
  }

  .hero-right img,
  .about-left img {
    width: 100%;
    height: 100%;
  }

  .about-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-headdesc {
    text-align: center;
  }

  .group-portfolio-card {
    flex-wrap: wrap;
  }

  .portfolio {
    background-image: url(assets/BackgroundPortfolio.png);
  }
}
